html {
            box-sizing: border-box;
}
*
*::before,
*::after {
            box-sizing: inherit;
}
:root{
--primary-text-color:#000000;
--link-color:#f4b109;
--title-color:#000000;
--primary-bgc-color:#ffffff;
--secondary-bgc-color:#eaeaea;
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;

}
.container{
margin-left: 10px;
margin-right: 10px;
border-radius: 5px;
width: 1360px;
padding-left: 20px;
padding-right: 20px;
outline: 1px solid pink;
}

ul{
list-style: none;
margin: 0;
padding: 20px;
}
.logo{
margin-left: 10px;
margin-top: 10px;
}

.main-nav{
display: flex;
align-items: center;
position: fixed;
width: 100%;
height: 110px;
top: 0;
left: 0;
background-color: var(--secondary-bgc-color);
}
.header-page{
background-color: var(--secondary-bgc-color);
}

.link{
text-decoration: none;
color: var(--link-color);
}

.league{
display: flex;
width: 700px;
height: 100px;
align-items: center;
text-align: center;
}
.league .link:hover{
color: #000000;
}

.league .item{
display: flex;
margin-left: 60px;
font-weight: 300;
font-size: 15px;
height: 106px;
width: 82px;
align-content: center;
align-items: center;
}
.league .item:hover{
border-bottom: 4px solid black;
}

.register{
display: flex;
width: 300px;
height: 100px;
margin-left: 100px;
align-items: center;
}
.register .item-reg{
margin-left: 80px;
text-align: center;
}
/*BUTTONS*/
.button{
display: inline-block;
color: var(--link-color);
text-decoration: none;
font-weight: 300;
font-size: 15px;
border: 1px solid transparent;  
text-align: center;
}
.button.first:hover,
.button.first:focus{
color: white;
}
.button.second:hover,
.button.second:focus{
color: white;
}

.button.first{
background-color:#2d2d2d;
color:#f4b109;

width: 100px;  
height: 50px; 
align-content: center;   
border: 1px solid; 
border-radius: 50%;    
}
.hero .button.first{
border-radius: 0px;
}

.button.second{
background-color:var(--link-color);
color: #2d2d2d;

width: 100px;
height: 50px;
align-content: center;
border: 1px solid;
border-radius: 50%;
}
/*MAIN*/
.hero{
margin-top: 150px;
text-align: center;
height: 400px;
background-image: url(../imagesforcomp/alianz-arena.avif);
background-size: cover;
background-position:center;
background-repeat: no-repeat;
}
.hero-title{
color: var(--link-color);
}

.competition{
display:flex;
flex-wrap: wrap;
margin: 25px 50px;
}

.longest{
width: 600px;
}
.section{
padding-top: 50px;
padding-bottom: 50px;
}


.menu{
margin-top: 200px;
padding: 0px;
list-style: none;

display: flex;
position: relative;
}

.menu-item{
margin-left: 30px;
outline: 2px solid black;
position: relative;
}
.menu-item:hover .submenu{
display: block;
}

.menu-link{
display: block;
padding: 20px;
text-decoration: none;
background-color: pink;
color:red;
}

.submenu{
padding: 0;
margin: 0;
background-color:#ccc;
list-style: none;

display: none;
position: absolute;

left:0;
top:100%;
width: 100%;
outline: 1px solid red;
}
.submenu a{
 text-decoration: none;
list-style: none;
color: black;
}
