body {
            background-color: whitesmoke;

            .test-link:hover{
                        color: red;
            } 

            .test-link:focus{
                        color: blue             ;
            }
}