:root {
  /*Зліва, команда,яка відповідає за заданний колір*/
  --primary-text-color: rgba(o,o,o,o.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-bg-color: #ffffff;
  --secondary-bg-color:#F5F5F5
}
  /* колір основного тексту #000000*/
  /* колiр вториного тексту rgba(0,0,0,0.8)*/
  /*білий #ffffff*/
  /*акцент #18a0fb*/
  /*колір вториного фону*/   

body {
  background-color:var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Montserrat,sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
  margin: 0 ;

  h1,h2,h3,h4,h5,h6{
  font-family: Comfortaa,cursive
  }
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
 }

.container {
margin-left: auto;
margin-right: auto;
width: 1280px;
padding-left: 20px;
padding-right: 20px;
/* outline: 2px solid pink; */

}
/* Logo */
ul {
list-style:none;
}
.logo:hover {
color: #fd6892;
}
.logo {
margin-right: 70px;

color: var(--title-text-color);
font-family: Comfortaa,cursive;

font-size: 28px;
line-height: 1.14;
text-decoration: none;
 }
       
 /*Page header*/
.page-header {
 background-color: #ccc;
}
/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
}

 /*site nav стилізація*/
 .site-nav {
  display: flex;
 }
 
 .site-nav .item + .item{
  margin-left: 40px;
 }

 /* .site-nav .item:not(:last-child) {
  margin-right: 40px;
} */

 .site-nav .link{
  color:var(--accent-color);

  display: block;
  padding-bottom: 10px;
  padding-top: 10px;

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;

 }
 /* Auth-nav */
 .auth-nav {
  display:flex;
  margin-left: auto; 
 }

 .auth-nav .item + .item {
  margin-left: 12px;
 }
 
 .site-nav .link:hover, 
 .site-nav .link:focus{
  color:var(--title-text-color);
 }

 /*HERO*/
 .hero {
  text-align: center;
 }

 .overlay {
  height: 300px;
  outline: 1px solid black;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right,
  rgba(255, 0, 0, 0.2),
  rgba(0, 0, 255,0.3)),
  url(../images/barcafield.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
 }
 .hero-title {
  color:var(--accent-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  margin-top: 0px; 
  margin-bottom: 40px;
 }

 .hero p {
 color: var(--primary-text-color);
 }
 
 /*features*/ 
 .features .title {
  color:var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
 }

.features {
display: flex;
flex-wrap: wrap;
margin:-25px -50px; 
}
 
.features .item {
width:570px;
margin: 25px 50px;
}
 
.features .link,
.work-link .link {
color:var(--accent-color);
text-decoration: none;
 }
 .features p{
 margin-top: 0px;
 margin-bottom: 32px;
 }

 /* follow */
 .follow {
  margin-left: 10px;
 }
 .follow .text {
  width: 350px;
  font-weight: 400;
  color:var(--primary-text-color);
 }
 .follow .title {
 color: var(--title-text-color);
 }
                    
 /*sections*/
.section.no-padding{
  padding-top: 0px;
  padding-bottom: 0px;
}
.section .section-title {
  text-align: start;
  margin-bottom: 20px;
 }
 .section {
  padding-top: 120px;
  padding-bottom: 120px;
 }
 .section-title {
  color: var(--title-text-color-);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  margin-top: 0px; 
  /* margin-bottom: 60px; */
  margin-bottom: 0px;
  }
 
  .section .title {
  margin-top: 0px;
  margin-bottom: 24px;
  }
 
 .section-text {
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
 }
 .section-description {
  margin-bottom: 80px;
  margin-top: 0px;
  text-align: center;
 }
 .section-title.centered {
  text-align: center;
 }

 /*WORK*/
 .list .title{
  margin-top: 0px;
  margin-bottom: 24px;
 }
 .work-list > .item{
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  align-items: center;
 }

 .footer-link .link:hover,
 .footer-link .link:focus{
  color: orange;
 }
 .work-list > .item:nth-child(2n) {
 background-color: var(--secondary-bg-color);
 flex-direction: row-reverse;
 }
 .work-list > .item:nth-child(2n) .content {
  margin-right: 84px;
 }
 
.work-list > .item:nth-child(2n +1 ) .content {
  margin-left: 84px;
}

 /*CLIENTS*/
 
 .client-list{
  display:flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: -30px -45px;
  margin-left: auto;
  margin-right: auto;
 }

 .client-list li{
  margin:30px 45px;
 }

 /*REGISTRATION*/
 
 .container.registration{
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
 }
 .container.registration .item{
  text-transform: uppercase;
 }

.container .work-link{
  margin-left:300px;
}
.work-link .button.primary {
  margin-left: 20px;
}


 /*Buttons*/
.button {
display: inline-block;
border-radius: 6px;
padding: 11px 34px;
min-width: 130px;
text-align: center; 
border: 1px solid transparent;  
  
color: var(--title-text-color);    
background-color: var(--primary-bg-color);
        
font-weight: 500;
font-size: 15px;
line-height: 1.2;
text-decoration: none;
 }

.button.primary:hover,
.button.primary:focus {
  color: var(--title-text-color);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--title-text-color);
}
.button.primary{
  color: var(--primary-bg-color);
  background-color:var(--accent-color);
  border: 1px solid transparent;  

   }
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  text-decoration: none;
  border-color: var(--accent-color); 
     
  }
/*footer*/
.container.footer{
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 50px;
}

.container.footer .item{
  margin-right: 66px;
  }

.footer-link{
display: flex;
margin-left: 55px;
padding:0;
margin:0;
}
.container.footer .logo {
margin-right: 100px;
margin-left: 100px;
text-align: center;
}

.footer-link:nth-child(1) {
margin-bottom: 18px;
margin-top: 18px;
}
.footer-link .item:nth-child(3) {
margin: 0px;
}

.footer-link .link {
color:var(--accent-color);
list-style: none;
text-decoration: none;
}
.footer-link.second {
padding: 0;
margin: 0;
}

.footer-link .subject{
margin-right: 20px;
}
.container-list.footer {
display: flex;
align-items: center;
justify-content: space-around;
}

.under-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  background-color:#f2f2f2 ;
  margin-top: 10px;

}
             