.container {
display: flex;
flex-wrap: wrap;
width: 940px;
margin-left: auto;
margin-right: auto;
}

.link {
display: inline-flex;
width: 100px;
text-decoration: none;
list-style: none;
background-image: linear-gradient(to right, 
rgba(0, 0, 255,0.3),
rgba(255, 0, 0,0.3));
color: white;
padding: 30px;
margin: 20px;
text-align: center;
}

.link:hover,
.link:focus{
color: #6af321;
}

.link::before{
width: 30px;
height: 30px;
content: "";
background-image: url(./images/Applelogo.png);
background-size: contain;
background-position: center;
}

.box {
height: 190px;
width: calc(50% - 20px);
margin: 10px;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}

.box:nth-child(1) {
background-color: #f16f04;
background-image:url(./images/barcafield.jpg);
}

.box:nth-child(2) {
 background-color: #3af321;
 background-image: url(./images/tiger.png),url(./images/stars\ sky.jpg);
 background-repeat:no-repeat;
 background-position:center;
 background-size:contain, cover;
 
}

.box:nth-child(3) {
background-color: #087fe0;
background-image: url(./images/Facebook_logo_\(square\).png);
background-size: 50px;
background-repeat: repeat;
}

.box:nth-child(4) {
background-color: #ebfc03;
}

.overlay {
 height: 480px;
 outline: 1px solid black;
 max-width: 1280px;
 margin-left: auto;
 margin-right: auto;
 background-image: linear-gradient(to right, 
 rgba(255, 0, 0, 0.2),
 rgba(0, 0, 255,0.3)),
 url(./images/barcafield.jpg);
 background-position: center;
 background-size: cover; 
} 
.overlay .title {
color: white;
display: inline-block;
margin-left:500px;
}

.button{
text-decoration: none;
display: inline-flex;
padding: 30px 30px;
color: white;
background-color: teal;
align-items: center;
border-radius: 3px;
cursor: pointer;
}

.button:hover,
.button:focus{
background-color: orange;
}

/*Іконка біля кнопочки*/
.button::before {
width: 20px;
height: 20px;   
content:"";
background-image: url(./images/rocket.png);    
background-size: contain; 
margin-right: 10px;
}

.list{
display: flex;
padding: 0px;
list-style: none;
}
.list-item {
 width: 400px;
 padding: 10px;
 margin: 10px;
 border-radius: 4px;
 outline: 1px solid black;
}

.list-item::before{
display: block;
content: "";
height: 40px;
outline: 1px solid black;
background-image:linear-gradient(to right,
rgba(255, 0, 0,0.2),
rgba(0, 0, 255,0.2)),
url(./images/rocket.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.icon::before{
display: block;
content: "";
height: 40px;
outline: 1px solid black;
background-image: url(./images/avrora.png);
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-color: aqua;
}

.list-item > .title{
margin-top: 0px;
}

.list-item > .text{
margin-top: 0px;
margin-bottom: 0px;
}

.actions {
display: flex;
border: 0px;
padding: 0px;
margin: 0px;
outline: 1px solid black;
list-style: none;
}

.theme {
 height: 100px;
 width: 100px;
}

.theme:hover .background{
fill: red;
}


.document{
padding: 0px;
background-color: aqua;
border:none;
cursor: pointer;
width: 100px;
height: 100px;
border-radius: 50%;
}

.actions li{
display: block;
width: 100px;
height: 100px;
}

.document-file{
display: block;
/* background-image: linear-gradient(to right,
rgba(255, 0, 0,0.5),
rgba(0, 0, 255,0.5)); */
border: none;
margin: auto;
}

.document-file:hover{
fill: red;
}